.about {
  background-color: #e3e3e3;
  border: 1px dashed grey;
  padding: 10px;
  border-radius: 5px;
}

.row {
  padding: 5px;
}



h2 {
  color: #FF9900;
  text-shadow: 1px 2px 2px #FF9900;
  text-align: center;
  box-shadow: 2px 2px 7px 1px #7CB9E8;
}


h3 {
  color: #F1EB95;
  text-shadow: 1px 2px 2px #FF9900;
  font-size: 2em;
  padding: 10px;
  margin: 10px;

}


details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: inside disclosure-closed;
}
